.row{
    padding-top: 74px
}

.main-content{
    border-right: 2px solid #e0e2d9
}


@media only screen and (max-width: 1400px) {
    .main-content {
        border: none;
    }

    .app-preview{
        display: none;
    }

    .preview-button > button{
        background-color: black;
        color: #fff;
    }

    .preview-button{
        background: rgba(255, 255, 255, 0);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2.1px);
            -webkit-backdrop-filter: blur(2.1px);
            border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

@media only screen and (min-width: 1400px) {
    .preview-button {
        display: none;
    }
}