.mobile-layout{
    border: 10px solid black;
    border-radius: 35px;
    width: 350px;
    height: 700px;
    position: fixed;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}