<div>
    <div class="section my-4 p-4">
        <div class="row">
            <div class="col-12 line-height-0 mb-3">
                <h2>Profile Information</h2>
                <p>Enter your profile or title information here.</p>
            </div>
        </div>
        <div class="my-3">
            <div class="row">
                <div class="col-6 mb-3">
                    <div>
                        <label for="name" class="form-label fw-medium">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name">
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label for="profile" class="form-label fw-medium">Upload Profile</label>
                        <input type="file" accept=".png , .jpg , .jpeg" class="form-control" id="profile"
                            aria-describedby="profile">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <label for="about" class="form-label fw-medium">About Yourself</label>
                    <textarea id="about" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="section my-4 p-4">
        <div class="row">
            <div class="col-12 line-height-0 mb-3">
                <h2>Social Links</h2>
                <p>Enter your social media links here.</p>
            </div>
        </div>
        <div class="my-3">
            <div class="row">
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="facebookLink"><i class="bi bi-facebook"></i></span>
                        <input type="text" class="form-control" placeholder="facebook.com/jhondoe"
                            aria-label="facebookLink" aria-describedby="facebookLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="instagramLink"><i class="bi bi-instagram"></i></span>
                        <input type="text" class="form-control" placeholder="instagram.com/jhondoe"
                            aria-label="instagramLink" aria-describedby="instagramLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="xLink"><i class="bi bi-twitter-x"></i></span>
                        <input type="text" class="form-control" placeholder="x.com/jhondoe" aria-label="xLink"
                            aria-describedby="xLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="threadsLink"><i class="bi bi-threads"></i></span>
                        <input type="text" class="form-control" placeholder="threads.com/jhondoe"
                            aria-label="threadsLink" aria-describedby="threadsLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="telegramLink"><i class="bi bi-telegram"></i></span>
                        <input type="text" class="form-control" placeholder="telegram.com/jhondoe"
                            aria-label="telegramLink" aria-describedby="telegramLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="whatsappLink"><i class="bi bi-whatsapp"></i></span>
                        <input type="text" class="form-control" placeholder="+00 0000000000" aria-label="whatsappLink"
                            aria-describedby="whatsappLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="youtubeLink"><i class="bi bi-youtube"></i></span>
                        <input type="text" class="form-control" placeholder="youtube.com/jhondoe"
                            aria-label="youtubeLink" aria-describedby="youtubeLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="discordLink"><i class="bi bi-discord"></i></span>
                        <input type="text" class="form-control" placeholder="discord.com/jhondoe"
                            aria-label="discordLink" aria-describedby="discordLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="githubLink"><i class="bi bi-github"></i></span>
                        <input type="text" class="form-control" placeholder="github.com/jhondoe" aria-label="githubLink"
                            aria-describedby="githubLink">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="linkedinLink"><i class="bi bi-linkedin"></i></span>
                        <input type="text" class="form-control" placeholder="linkedin.com/jhondoe"
                            aria-label="linkedinLink" aria-describedby="linkedinLink">
                    </div>
                </div>

                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text" id="snapchatLink"><i class="bi bi-snapchat"></i></span>
                        <input type="text" class="form-control" placeholder="snapchat.com/jhondoe"
                            aria-label="snapchatLink" aria-describedby="snapchatLink">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text" id="emailLink"><i class="bi bi-envelope"></i></span>
                        <input type="text" class="form-control" placeholder="email.com/jhondoe" aria-label="emailLink"
                            aria-describedby="emailLink">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section my-4 p-4">
        <div class="row">
            <div class="col-12 line-height-0 mb-3">
                <h2 class="d-flex justify-content-between">
                    <span>Extra Links</span>
                    <span><i class="bi bi-info-circle cursor"
                            matTooltip="Go to icons.getbootstrap.com for more icon names"
                            matTooltipPosition="left"></i></span>

                </h2>
                <p>Enter your additional link details here.</p>
            </div>
        </div>
        <div class="my-3">
            <div cdkDropList class="drag-list drag-area" (cdkDropListDropped)="drop($event)">
                <div class="row section drag-box my-4 p-4" *ngFor="let link of extraLink" cdkDrag cdkDragLockAxis="y"
                    cdkDragBoundary=".drag-area">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                                matTooltip="Show / Hide">
                        </div>
                        <i class="bi bi-trash3-fill cursor text-end mx-2" style="font-size: 18px; color: red;"
                            matTooltip="Delete"></i>
                    </div>
                    <div class="col-6 mb-3">
                        <div>
                            <label for="displayLable" class="form-label fw-medium">Label</label>
                            <input type="text" class="form-control" id="displayLable" aria-describedby="displayLable"
                                placeholder="Jhone doe's website">
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="iconString" class="form-label fw-medium">Icon Name</label>
                        <input type="text" class="form-control" id="iconString" aria-describedby="iconString"
                            placeholder="laptop">
                    </div>
                    <div class="col-12 mb-3">
                        <div>
                            <label for="destinationUrl" class="form-label fw-medium">Destination URL</label>
                            <input type="text" class="form-control" id="destinationUrl"
                                aria-describedby="destinationUrl" placeholder="www.jhondoe.com">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row my-4 section">
                <i class="bi bi-plus-circle-fill p-3 text-center cursor" style="font-size: 32px;"></i>
            </div>
        </div>
    </div>
</div>