/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor{
  cursor: pointer;
}


.product-modal {
  width: 25%;
}


@media only screen and (max-width: 1400px) {
  .product-modal {
      width: 100%;
    }
}