.section {
    border: 2px solid #e0e2d9;
    border-radius: 8px;
}

.line-height-0 {
    line-height: 0;
}

.store-card{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 15px;
}

.store-card img{
    border-radius: 15px;
}

.add-store-card{
    width: 100%;
    height: 100%;
}

.add-store-image{
    width: 70%;
    border-radius: 15px;
}